.camp
	background: #fff url('../img/camp-bg.jpg') no-repeat center center
	background-size: cover
	height: 100vh
	min-height: 600px
	.content
		// text-align: center

.h2
	display: inline-block
	font-family: 'RussoOne'
	font-size: 34px
	// padding: 0 15px
	margin-bottom: 20px

.btn
	display: inline-block
	text-decoration: none
	color: #222
	background: $color-accent
	padding: 10px
	margin: 10px
	&:hover
		text-decoration: none
		color: inherit
		background: #222