.camp
	background: #fff url('../img/camp-bg.jpg') no-repeat center center
	background-size: cover
	height: 100vh
	min-height: 600px
	.content
		// text-align: center

.h2
	display: inline-block
	font-family: 'Molot'
	font-size: 34px
	// padding: 0 15px
	margin-bottom: 20px

.btn
	display: inline-block
	text-decoration: none
	color: #222
	background: $color-accent
	padding: 10px
	margin: 10px
	&:hover, &:active, &:focus
		text-decoration: none
		color: inherit
		background: #222

.section__camp-1
	background: #fff	url('../img/camp__section-1.jpg') no-repeat center

.section__camp-2
	// background: #fff	url('../img/camp__section-2.jpg') no-repeat center

.section__camp-3
	background: #fff	url('../img/camp__section-3.jpg') no-repeat

.section__camp-4
	background: #fff	url('../img/camp__section-4.jpg') no-repeat

.section__camp-9
	background: #fff	url('../img/camp__section-9.jpg') no-repeat

.section__camp-10
	background: #fff	url('../img/camp__section-10.jpg') no-repeat

.scroll-wrap
	max-height: 50vh
	overflow-y: auto

.table
	width: 100%

.tr:nth-child(odd)
	background: $color-a
	color: #222
.tr:nth-child(even)
	background: $color-b
	color: #222
.tr:nth-child(odd), .tr:nth-child(even)
	&:hover
		background: $color-accent
		color: #222

.th
	text-align: center
.td
	padding: 0.2em 0.5em

.section__camp-4
	// background: #fff	url('../img/camp__section-4.jpg') no-repeat center
	td:first-of-type
		width: 130px
.section__camp-6
	background: #fff	url('../img/camp__section-6.jpg') no-repeat center

.section__camp-7
	background: #fff	url('../img/camp__section-7.jpg') no-repeat center

.section__camp-11
	background: #fff	url('../img/camp__section-11.jpg') no-repeat center

.section__camp-12
	background: #fff	url('../img/camp__section-12.jpg') no-repeat center top

.section__camp
	background-size: cover
	height: 100vh
	min-height: 600px