.top-bar
	position: fixed
	top: 0
	left: 0
	right: 0
	background: #222
	padding: 5px 0
	z-index: 10

.flex
	display: flex
	align-items: center

.relative
	position: relative

.logo

.logo__img
	max-height: 60px
	width: auto

.mnu
	position: static
	float: none
	margin: 0
	margin-left: auto
	width: auto
	li
		white-space: normal
		position: static
		background: $color-accent
		margin-right: 2px
		a
			color: #222
			border: none
			padding: 0.4em 0.5em 
			text-decoration: none
	>li
		>ul
			width: 220px
			left: auto

.sf-menu ul li
	background: #222

.sf-menu li:hover,
.sf-menu li.sfHover
	background: #333
	only transition out, not in
	transition: none
	a
		color: #fff

.sf-mega
	background: rgba(0,0,0, .5)
	color: #fff
	padding: 15px
	.select
		position: absolute
		top: 5px
		left: 5px
		// right: 5px

.sf-mega,.mnu>li>ul
	margin-top: -12px


// a.camp__section
.camp__section
	display: block
	position: relative
	height: 150px
	&::before
		position: absolute
		content: ''
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: rgba(0,0,0, .3)
	&:hover
		&::before
			background: rgba(0,0,0,0)

// Фото
.camp__section-1
	background: #222 url('/img/camp__section-1.jpg') no-repeat center
	background-size: cover

// Видео
.camp__section-2
	background: #222 url('/img/camp__section-2.jpg') no-repeat center
	background-size: cover

// Рассписание заездов
.camp__section-3
	background: #222 url('/img/camp__section-3.jpg') no-repeat center
	background-size: cover

// Распорядок дня
.camp__section-4
	background: #222 url('/img/camp__section-4.jpg') no-repeat center
	background-size: cover

// Выездные экскурсии
.camp__section-5
	background: #222 url('/img/camp__section-5.jpg') no-repeat center
	background-size: cover

// Условия проживания
.camp__section-6
	background: #222 url('/img/camp__section-6.jpg') no-repeat center
	background-size: cover

// Питание
.camp__section-7
	background: #222 url('/img/camp__section-7.jpg') no-repeat center
	background-size: cover

// Награды лагеря
.camp__section-8
	background: #222 url('/img/camp__section-8.jpg') no-repeat center
	background-size: cover

// Цены
.camp__section-9
	background: #222 url('/img/camp__section-9.jpg') no-repeat center
	background-size: cover

// Оформление
.camp__section-10
	background: #222 url('/img/camp__section-10.jpg') no-repeat center
	background-size: cover

// Что взять с собой
.camp__section-11
	background: #222 url('/img/camp__section-11.jpg') no-repeat center
	background-size: cover

// Посещение ребёнка
.camp__section-12
	background: #222 url('/img/camp__section-12.jpg') no-repeat center
	background-size: cover
	

@media only screen and (max-width : 768px)
	.top-bar
		display: none