.top-bar
	position: fixed
	top: 0
	left: 0
	right: 0
	background: #222 url('/img/wood-pattern.jpg')
	padding: 5px 0
	z-index: 10
	box-shadow: 0 2px 4px -2px #000

.flex
	display: flex
	align-items: center

.relative
	position: relative

.logo

.logo__img
	height: 60px
	max-height: 60px
	width: auto

.mnu
	position: static
	float: none
	margin: 0
	margin-left: auto
	width: auto
	li
		white-space: normal
		position: static
		background: $color-accent
		margin-right: 2px
		a
			color: #222
			border: none
			padding: 0.4em 0.5em 
			text-decoration: none
	>li
		>ul
			width: 220px
			left: auto

.mnu ul li
	background: #222

.mnu li:hover,
.mnu li.sfHover,
.mnu li.active
	background: #333
	only transition out, not in
	transition: none
	a
		color: #fff

.sf-mega
	background: #222 url('/img/wood-pattern.jpg')
	box-shadow: 0 2px 4px -2px #000
	color: #fff
	padding: 15px

.elem
	display: flex
	width: 16.26%
	height: 150px
	float: left
	// padding: 5px
	position: relative
	align-items: center
	margin: 0.2%
	.icon
		margin-left: auto
		margin-right: auto
		max-width: 90%
		max-height: 90%
		height: 80px
		width: auto
		font-size: 80px
		color: #222
	.select
		position: absolute
		display: inline
		top: 0px
		left: 0px
		font-size: initial
	&:hover, &.active
		background: $color-accent
		.select
			background: #222
			color: #fff

/* .sf-mega,.mnu>li>ul
	margin-top: -9px */


@media only screen and (max-width : 992px)
	.elem
		width: 100%

@media only screen and (max-width : 768px)
	.top-bar
		display: none